
    <!-- Services Section -->
    <section id="values" class="services">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12 wow fadeIn">
                    <h2>Our Values</h2>
                    <hr class="colored">
                    <p>TO GET SWIFTY! ..and we create flavorsome, traditional dishes using fresh, local ingredients.</p>
                </div>
            </div>
            <div class="row content-row">
                <div class="col-md-4 wow fadeIn" data-wow-delay=".2s">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Users</h3>
                            <ul>
                                <li><em>WuTang Affiliate</em>
                                </li>
                                <li><em>From The Slums of Shaolin</em>
                                </li>
                                <li><em>Wu Tang Strikes Again</em>
                                </li>
                                <li><em>Tested for quality and dopeness</em>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow fadeIn" data-wow-delay=".4s">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-cutlery"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Recipes</h3>
                            <ul>
                                <li><em>Traditional preparation</em>
                                </li>
                                <li><em>Classic combinations</em>
                                </li>
                                <li><em>Complex flavor profiles</em>
                                </li>
                                <li><em>Hygenic and sanitary</em>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow fadeIn" data-wow-delay=".6s">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Meals</h3>
                            <ul>
                                <li><em>Bakery rewards program</em>
                                </li>
                                <li><em>Private events</em>
                                </li>
                                <li><em>Personal catering menus</em>
                                </li>
                                <li><em>Nightly community specials</em>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Quote Call to Action -->
    <aside class="cta-quote" style="background-image: url(<%=image_path 'backgrounds/bg-aside.jpg'%>)">
        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <span class="quote">Truly great food is a combination of quality ingredients, creativity, and attention to detail.</span>
                    <hr class=" colored">
                    <a class="btn btn-outline-light page-scroll" href="#people">Meet Our Team</a>
                </div>
            </div>
        </div>
    </aside>
    <!-- Block Button Call to Action -->
    <a href="https://wrapbootstrap.com/theme/vitality-multipurpose-one-page-theme-WB02K3KK3" class="btn btn-block btn-full-width">Buy Vitality Now!</a>