    <!-- Header -->
    <header style="background-image: url(<%=image_path 'backgrounds/bg-header.jpg'%>)">
        <div class="intro-content">
        <%= image_tag "people/profile.png", :class => "img-centered"%>
             <!-- <img src="img/culinary/profile.png" class="img-responsive img-centered" alt=""> -->
        </div>
        <div class="scroll-down">
            <a class="btn page-scroll" href="#values"><i class="fa fa-angle-down fa-fw"></i></a>
        </div>
    </header>
    <!-- Services Section -->
    <section id="values" class="services">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12 wow fadeIn">
                    <h2>Our Values</h2>
                    <hr class="colored">
                    <p>At CookedLife we strive to inspire culinary innovation whilest simaltaneously providing an easy to use platform for the Chef inside us all.</p>
                </div>
            </div>
            <div class="row content-row">
                <div class="col-md-4 wow fadeIn" data-wow-delay=".2s">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">The CookedLife</h3>
                            <ul>
                                <li><em>Become a CookedLife Member!</em>
                                </li>
                                <li><em>Find your friends!</em>
                                </li>
                                <li><em>Eat better! Look better! Feel better!</em>
                                </li>
                                <li><em>Join us, we have cookies!</em>
                                </li>
                                <li><em>Wu Tang tested and approved for quality dopeness!</em>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow fadeIn" data-wow-delay=".4s">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-cutlery"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Create Recipes!</h3>
                            <ul>
                                <li><em>Classic culinary creations!</em>
                                </li>
                                <li><em>Traditional family recipes!</em>
                                </li>
                                <li><em>Complex flavor profiles!</em>
                                </li>
                                <li><em>Find new culinary innovations</em>
                                </li><li><em>Unleash your inner chef!</em>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow fadeIn" data-wow-delay=".6s">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Create Meals!</h3>
                            <ul>
                                <li><em>Add any recipes to your meal!</em>
                                </li>
                                <li><em>Make new recipes for meals!</em>
                                </li>
                                <li><em>Learn what foods pair well!</em>
                                </li>
                                <li><em>Impress that special someone!</em>
                                </li>
                                <li><em>Inspire your stomach!</em>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Quote Call to Action -->
    <aside class="cta-quote" style="background-image: url(<%=image_path 'backgrounds/bg-aside.jpg'%>)">
        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <span class="quote">Truly great food is a combination of quality ingredients, creativity, and dedication to the creation.</span>
                    <hr class=" colored">
                </div>
            </div>
        </div>
    </aside>
    <!-- Block Button Call to Action -->
    <a href="/signup" class="btn btn-block btn-full-width">Sign Up Now!</a>