<div class="row white-text" style="background-image: url(<%=image_path 'backgrounds/bg-header.jpg'%>)">
    <div class="col-md-3"></div>
    <div class="col-md-6">
    <% if params[:filter] == "current_user" %>
    <div class="my-image-margin login-center"><h2>My Meal(s)</h2></div>
    <% else %>
    <div class="my-image-margin login-center"><h2>Meal(s)</h2></div>
    <% end %>

        <table class=" table">
            <tr>
                <th class="meal-name-title">Meal Name</th>
                <th class="meal-name-title">Meal Author</th>
            </tr>
              <% @meals.each do |meal| %>    
                <tr>
                    <td><%= link_to meal.name, "/meals/#{meal.id}" %></td>
                    <td><%= meal.user.full_name %></td>
                </tr>
              <% end %>
        </table>
    </div>
</div>    
