<header style="background-image: url(<%=image_path 'backgrounds/bg-header.jpg'%>)">
    <div class="intro-content">
        <!--<%= image_tag "people/profile.png", :class => "img-centered"%>-->
        <!-- <img src="img/culinary/profile.png" class="img-responsive img-centered" alt=""> -->
    </div>
</header>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <table class="table table-hover">
            <tr>
                <th>Meal Name</th>
                <th>Recipe Author</th>
            </tr>
              <% @meals.each do |meal| %>    
                <tr>
                    <td><%= link_to meal.name, "/meals/#{meal.id}" %></td>
                    <td><%= meal.user.full_name %></td>
                </tr>
              <% end %>
        </table>
    </div>
</div>    