
<header style="background-image: url(<%=image_path 'menu/3.jpg'%>)">
        <div class="intro-content">
        <%= image_tag "people/profile.png", :class => "img-centered"%>
             <!-- <img src="img/culinary/profile.png" class="img-responsive img-centered" alt=""> -->
        </div>
        <div class="scroll-down">
            <a class="btn page-scroll" href="#values"><i class="fa fa-angle-down fa-fw"></i></a>
        </div>
    </header>

<div ng-app="app">
  <div ng-controller="recipeCtrl" ng-init="setup(<%= current_user.id %>)">
  Meal Name: <input ng-model="mealName"><button ng-click="createMeal(mealName)">Create Meal!</button>
    
    <table ng-if="meal" class="table table-hover">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Ingredients</th>
        <th>Prep Time</th>
        <th>Add Recipe</th>
      </tr>
      <tr ng-repeat="recipe in recipes" ng-if="!recipe.added" >
        
        <td>{{recipe.name}}</td>
        <td>{{recipe.description}}</td>
        <td>{{recipe.ingredients}}</td>
        <td>{{recipe.prep_time}}</td>
        <td><input type="checkbox" ng-checked="false" ng-model="toggle" ng-click="toggleRecipe(recipe, toggle)"></td>
      </tr>
    </table>

    <h2>Recipes Added to Meal</h2>
    <table class="table table-hover">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Ingredients</th>
        <th>Prep Time</th>
        <th>Add Recipe</th>
      </tr>
      <tr ng-repeat="recipe in recipes" ng-if="recipe.added" >
        
        <td>{{recipe.name}}</td>
        <td>{{recipe.description}}</td>
        <td>{{recipe.ingredients}}</td>
        <td>{{recipe.prep_time}}</td>
        <td><input type="checkbox" ng-checked="true" ng-model="toggle" ng-click="toggleRecipe(recipe, toggle)"></td>
      </tr>
      <a ng-if="meal" href="/meals/{{meal.id}}"><button>Save Meal!</button></a>
    </table>
  </div>
</div>
