User: <%= current_user.id %>

<div ng-app="app">
  <div ng-controller="recipeCtrl" ng-init="setup(<%= current_user.id %>)">
  Meal Name: <input ng-model="mealName"><button ng-click="createMeal(mealName)">Create Meal!</button>
    
    <table ng-if="meal">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Ingredients</th>
        <th>Prep Time</th>
        <th>Add Recipe</th>
      </tr>
      <tr ng-repeat="recipe in recipes" ng-if="!recipe.added" >
        
        <td>{{recipe.name}}</td>
        <td>{{recipe.description}}</td>
        <td>{{recipe.ingredients}}</td>
        <td>{{recipe.prep_time}}</td>
        <td><input type="checkbox" ng-checked="false" ng-model="toggle" ng-click="toggleRecipe(recipe, toggle)"></td>
      </tr>
    </table>

    <h2>Recipes Added to Meal</h2>
    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Ingredients</th>
        <th>Prep Time</th>
        <th>Add Recipe</th>
      </tr>
      <tr ng-repeat="recipe in recipes" ng-if="recipe.added" >
        
        <td>{{recipe.name}}</td>
        <td>{{recipe.description}}</td>
        <td>{{recipe.ingredients}}</td>
        <td>{{recipe.prep_time}}</td>
        <td><input type="checkbox" ng-checked="true" ng-model="toggle" ng-click="toggleRecipe(recipe, toggle)"></td>
      </tr>
      <a ng-if="meal" href="/meals/{{meal.id}}"><button>Save Meal!</button></a>
    </table>
  </div>
</div>
