User: <%= current_user.id %>

<div ng-app="app">
  <div ng-controller="recipeCtrl" ng-init="setup(<%= current_user.id %>)">
  Meal Name: <input ng-model="mealName"><button ng-click="createMeal(mealName)">Create Meal!</button>
    
    <table ng-if="meal">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Ingredients</th>
        <th>Prep Time</th>
        <th>Add Recipe</th>
      </tr>
      <tr ng-repeat="recipe in recipes" >
        
        <td>{{recipe.name}}</td>
        <td>{{recipe.description}}</td>
        <td>{{recipe.ingredients}}</td>
        <td>{{recipe.prep_time}}</td>
        <td><button ng-click="addRecipe(recipe)">Add</button></td>
      </tr>
    </table>
   
  </div>
</div>
