<div ng-app="app">
  <div ng-controller="recipeCtrl" ng-init="setup()">
  Add a new recipe for your meal!: <input ng-model="nameFilter">
    <ul>
      <li ng-repeat="recipe in recipes" >
        <button ng-click="addRecipe(newName, newDescription, newIngredients, newPrepTime, newInstructions)"> Add Recipe</button>
      </li>
    </ul>
    <div>
      Name: <input ng-model="newName">
    </div>
    <div>
      Description: <input ng-model="newDescription">
    </div>
    <div>
      Ingredients: <input ng-model="newIngredients">
    </div>
    <div>
      Prep Time: <input ng-model="newPrepTime">
    </div>
    <div>
      Instructions: <input ng-model="newInstructions">
    </div>
    <div>
      <button ng-click="addRecipe(newName, newDescription, newIngredients, newPrepTime, newInstructions)">Add Recipe</button>
    </div>
  </div>
</div>


