/*.purpleHippo {
  background: yellow;
  margin: 200px 0px 100px 0px;
}*/
.body {
    padding-top: 50px; /* Whatever the height of your navbar is; the
                             default is 50px */
}

.navbar-inverse.solid-background {
  background: turquoise;
}

.yield-container{
  padding-top: 150px;
}

header {
  height:700px;
}

.white-text {
  color: white;
}

.dark-text {
  color: black;
}

.alert {
  margin-bottom: 0px;
}

.main-search {
  padding: 3px 2px 2px 2px;
  margin: -3px 10px 0px 0px;
}

.my_cookedlife_logo {
  height: 80px !important;
}

.footer.solid-background {
  background: turquoise;
}

.creator {
  font-size: 12pt;
}

.recipe_name {
  font-weight: bold;
}

.my_header_quote {
  font-size: 25pt;
}

.btn.btn-block.btn-full-width {
  height: 50px;
  width: 500px; 
}

.text_area_tag {
  height: 1000;
}

// .font_for_h2s {
//   font-family: Georgia, serif;
// }

.my-image-margin {
  margin: 100px 100px 100px 50px;
}

