/*.purpleHippo {
  background: yellow;
  margin: 200px 0px 100px 0px;
}*/
.body {
    padding-top: 50px; /* Whatever the height of your navbar is; the
                             default is 50px */
}

.navbar-inverse.solid-background {
  background: turquoise;
}

.yield-container{
  padding-top: 150px;
}

header {
  height:700px;
}

.white-text {
  color: white;
}

.dark-text {
  color: black;
}

.alert {
  margin-bottom: 0px;
}

.main-search {
  padding: 3px 2px 2px 2px;
  margin: -3px 10px 0px 0px;
}