/*.purpleHippo {
  background: yellow;
  margin: 200px 0px 100px 0px;
}*/
.body {
    padding-top: 50px; /* Whatever the height of your navbar is; the
                             default is 50px */
}

.navbar-inverse.solid-background {
  background: turquoise;
}

.yield-container{
  padding-top: 150px;
}

header {
  height:700px;
}

.white-text {
  color: white;
}

.dark-text {
  color: black;
}

.alert {
  margin-bottom: 0px;
}

.main-search {
  padding: 3px 2px 2px 2px;
  margin: -3px 10px 0px 0px;
}

.my_cookedlife_logo {
  height: 80px !important;
}

.footer.solid-background {
  background: turquoise;
}

.creator {
  font-size: 12pt;
}

.recipe_name {
  font-weight: bold;
}

.my_header_quote {
  font-size: 25pt;
}

// .btn.btn-block.btn-full-width {
//   height: 50px;
//   width: 500px; 
// }

.text_area_tag {
  height: 1000;
}

// .font_for_h2s {
//   font-family: Georgia, serif;
// }

.my-image-margin {
  margin: 75px 0px 50px 0px;
  text-align: center;
}

// .table-hover {
//   opacity: 0.5;
// }

// .table {
//   opacity: 1;
// }

.user-show-page-margin {
  margin: 75px 75px 75px 75px;
}

.my-text-left {
  text-align: left;
}

.my-text-right {
  text-align: right;
}

.meal-name-title {
  font-size: 20pt;
}

.my-turquoise {
  color: #41C4AB;
}

.new-meal-name-size {
  font-size: 18pt;
  width: 100%;
}

// .my-button-center {
//   text-align: center;
//   padding-bottom: 0px 0px 100px 0px;
// }

.sign-up-button {
  margin-top: 89px;
}

.join-us {
  font-size: 35px;
}

.login-center {
  text-align: center;
}

.sign-up-form-button-center {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.h2signupform {
  margin-top: 50px;
  margin-bottom: 25px;
}

.spacedform {
  .form-group {
    margin-bottom: 30px;
  }
}

.new-meal-form {
  margin-top: 100px;
  margin-bottom: 100px;
}

.update-spacing {
    margin-top: 50px;
    margin-bottom: 50px;
}

.chef-size {
  font-size: 50px;
}

.user-show-margins-unique {
  margin-top: 25px;
  margin-bottom: 25px;
}

.tiny-margin-space {
  margin-top: 25px;
  margin-bottom: 25px;
}

