/*.purpleHippo {
  background: yellow;
  margin: 200px 0px 100px 0px;
}*/
.body {
    padding-top: 50px; /* Whatever the height of your navbar is; the
                             default is 50px */
}